/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color:azure;
  }

  h1 {
    letter-spacing: 1px;
    text-indent: 1px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  h2{
    text-indent: 1px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #background{
    background-color:darkolivegreen;
  }

  #content{
    background-color:darkseagreen
  }