 .minor-section{
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px  #888;
    background-color: azure;
  }

  h1 {
    letter-spacing: 1px;
    text-indent: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
  }

  h2{
    text-indent: 1px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #background{
    background-color: darkolivegreen;
  }

  p {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #content{
      background-color: darkseagreen;
  }

  .special {
    background-color:lavender;
    border: dashed 15px purple;
    color: rgb(189, 80, 189);
    font-weight: bold;
}
