/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#headerh1{
  color:whitesmoke; 
  font-family:monospace;
  border:solid;
  text-indent:400px
}

#paragraph{
    color: whitesmoke;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-indent: 20px;
    margin-left: 10px;
  }
#content{
    padding: 10px;
    margin: 10px;
    border: dashed 1px whitesmoke;
    background-color: darkgreen;
    width: 1010px;
    min-height: 500px;
    font-size: 20px;
  }

#Lab2Cat {
 width: 150px;
 height: 250px;
  }